@model IEnumerable<AkilliEtkinlikPlanlamaApp.Models.Entities.Etkinlikler>

<h2>Çakışmayan Etkinlikler</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="row">
    @foreach (var etkinlik in ViewBag.OnerilenEtkinlikler as IEnumerable<AkilliEtkinlikPlanlamaApp.Models.Entities.Etkinlikler>)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@etkinlik.EtkinlikFotoYolu" class="card-img-top" alt="Etkinlik Fotoğrafı">
                <div class="card-body">
                    <h5 class="card-title">@etkinlik.EtkinlikAdi</h5>
                    <p class="card-text">
                        @etkinlik.Aciklama
                    </p>
                    <form asp-action="Katil" asp-controller="Etkinlik" method="post">
                        <input type="hidden" name="etkinlikId" value="@etkinlik.ID" />
                        <button type="submit" class="btn btn-primary">Katıl</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
